body {
  height: 2000px;
}

:root {
  --box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
}

.navbar.sticky {
  background: rgba(224, 223, 223, 0.1);
  box-shadow: var(--box-shadow);
}

.navbar {
  /* background-color: rgba(0, 0, 0, .1); */
  backdrop-filter: blur(10px);
}

.introduce {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}

.photo-self {
  padding: 30px;
  width: 100%;

}

.photo-self img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15%;
  overflow: hidden;
}

.desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc .profession {
  color: #777777;
}

.desc .fs-1 {
  font-size: 80px;
}

.floor {
  perspective: 800px;
  margin-top: 150px;
}

@media screen and (max-width:992px) {
  .floor {
    perspective: 500px;
    margin-top: 50px;
  }
}

@media screen and (max-width:768px) {
  .floor {
    perspective: 500px;
    margin-top: 100px;
  }
}

@media screen and (max-width:576px) {
  .floor {
    perspective: 500px;
    margin-top: 110px;
  }
}

.floor .photo-self {
  transform-style: preserve-3d;
}

.floor .photo-self .oneself {
  animation: none;
}

@keyframes rotateImg {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotateY(180deg);
  }
}